#logo{
    width: 100px;
  }
#philo{
  background-image: url('./philosophy.webp');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  border: #041E29 1px solid;
}
@media only screen and (max-width: 426px){
   #logo{
      width: 65px;
   }
   button.navbar-toggler{
     padding: 2px 6px;
   }
   h1{
     font-size: 1.75rem;
   }
   h2{
     font-size: 1.5rem;
   }
   h3{
     font-size: 1.35rem;
   }
   h4{
     font-size: 1.2rem;
   }
   h5{
     font-size: 1rem;
   }
   a.btn.btn-primary{
     font-size: 12px;
   }
   p{
       font-size: 0.8rem;
   }
}
@media only screen and (max-width: 426px){
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.35rem;
  }
  h3{
    font-size: 1.2rem;
  }
  h4{
    font-size: 1.05rem;
  }
  h5{
    font-size: 0.9rem;
  }
}
